body {
    font-family: Arial, sans-serif;
    background-color: #ecedef;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.upper-banner {
    background-color: #3c4b64;
    color: white;
    padding: 10px;
    text-align: center;
}

.project-list:hover,
.client-list:hover,
.task:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Add shade on hover */
    /* You can adjust the opacity (last value) to change the darkness of the shade */
}

.toggle-menu {
    cursor: pointer;
}
.content {
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    background-color: #3c4b64;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.menu-options {
    display: none; /* Hide menu options by default */
}

.menu-options.expanded {
    display: block; /* Show menu options when 'expanded' class is present */
}

.project-list,
#project-details,
.client-list,
.client-details,
.task-container {
    background-color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between;
}

.project-details-link {
    flex-grow: 1; /* Expand to fill remaining space */
    margin-right: 10px; /* Add space between the title and buttons */
}

.alert-success {
    background-color: #4caf50; /* Green */
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.alert-error {
    background-color: #d14141; /* Green */
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.form_danger {
    color: rgb(129, 7, 7); /* Set text color to red */
    font-style: italic; /* Make text italic */
    font-size: smaller; /* Decrease font size */
}

ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
}

ul li {
    display: inline;
}

ul li a {
    color: white; /* Set text color to white */
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Add padding for spacing */
}

a {
    color: black;
    text-decoration: none; /* Remove underline */
}

ul li a:hover {
    background-color: #333; /* Change background color on hover */
}

ul li a:visited {
    color: white; /* Keep text color white for visited links */
}

/* Button style */
.button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

/* Button hover effect */
.button:hover {
    background-color: #45a049;
}

.project-details-link,
.client-details-link {
    color: black;
    text-decoration: none;
}
/* Style for delete button */
.btn-delete,
.btn-update {
    background-color: transparent;
    color: #000;
    border: 2px solid transparent;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px; /* Adjust font size as needed */
}

.btn-delete:hover,
.btn-update:hover {
    background-color: transparent;
    border-color: #000;
}

/* Style for delete button */
.btn-delete {
    color: #fff;
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}

/* Style for update button */
.btn-update {
    color: #fff;
    background-color: #28a745;
}

.btn-update:hover {
    background-color: #218838;
}

/* Position buttons */
.client-list {
    position: relative;
}

.btn-delete,
.btn-update {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn-delete {
    right: 90px; /* Adjust the value based on your layout */
}

.btn-update {
    right: 5px;
}

.form-container {
    background-color: #fff; /* White background */
    padding: 20px; /* Padding around the form */
    border-radius: 8px; /* Optional: Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Box shadow for a subtle elevation effect */
}

/* Additional styling for form elements (optional) */
.form-container form {
    max-width: 400px; /* Optional: Limit form width */
}

.form-container label {
    display: block; /* Display labels as block elements */
    margin-bottom: 8px; /* Add space below labels */
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="textfield"],
.form-container input[type="email"],
.form-container input[type="address"],
.form-container input[type="password"],
.form-container select,
.form-container textarea {
    width: 100%; /* Make input fields and textareas full width */
    padding: 8px; /* Add padding to input fields */
    margin-bottom: 16px; /* Add space below input fields */
    border: 1px solid #ccc; /* Optional: Add border for input fields */
    border-radius: 4px; /* Optional: Add border radius for input fields */
}

.form-container button,
.button,
.back-project,
.back-client,
#go-back-to-list {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border: none; /* Remove button border */
    border-radius: 4px; /* Optional: Add border radius for button */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.form-container button:hover {
    background-color: #0056b3; /* Button background color on hover */
}

/* Styles for modal container */
.modal-container {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 9999; /* Ensure it's on top of other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    overflow: auto;
}

/* Styles for modal content */
.modal-container {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 9999; /* Ensure it's on top of other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    overflow: auto;
}

#success-container {
    background-color: lightgreen;
    /* Add any other styling you want for the success modal container */
}

#error-container {
    background-color: rgb(238, 144, 144);
    /* Add any other styling you want for the success modal container */
}

/* Styles for modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Center the modal vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 500px; /* Set maximum width for the modal */
    text-align: center;
}

/* Close button style */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.task-container {
    width: 100%;
    overflow-x: auto; /* Add horizontal scroll if content overflows */
    display: grid; /* Use CSS grid for layout */
    grid-template-columns: repeat(
        auto-fill,
        minmax(250px, 1fr)
    ); /* Responsive grid layout */
    gap: 20px; /* Gap between task divs */
}

.task {
    background-color: #ffffff; /* White background */
    border: 1px solid #ccc; /* Add border */
    padding: 20px; /* Padding around task */
    border-radius: 8px; /* Rounded corners */
}

/* Style for pagination links */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a,
.pagination span {
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.update-button,
.update-project {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px; /* Add margin to separate buttons */
    cursor: pointer;
    border-radius: 5px;
}

.delete-button,
.delete-project,
.delete-client {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.task-table {
    width: 100%;
    border-collapse: collapse;
}

.task-table th,
.task-table td {
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap;
    border: none; /* Remove borders from table cells */
    text-align: left;
}

.task-table th {
    background-color: #f2f2f2;
    text-align: left;
    text-align: left; /* Align text to the left within each column */
    padding: 10px; /* Add padding for better spacing */
    width: 40%;
}

.even-row {
    background-color: #fff;
}

.odd-row {
    background-color: #f9f9f9;
}

.rejected-status {
    background-color: #ffcccc; /* Light red */
}

.approved-status {
    background-color: #ccffcc; /* Light green */
}

.create-button,
.create-project,
.picture-button {
    display: inline-block;
    background-color: #c8209b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    outline: none; /* Remove default button focus style */
}

.create-button:hover,
.create-project:hover {
    background-color: #9545a0; /* Darker Green */
}

.create-button:active,
.create-project:active {
    background-color: #251b99; /* Even darker Green */
}

.details-content img {
    display: block; /* Ensure the image is displayed as a block element */
    margin: auto; /* Center the image horizontally */
}

.profile-picture {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the entire container */
}
