body {
    font-family: Arial, sans-serif;
    background-color: #ecedef;
    margin: 0;
    padding: 0;
}

.container h1 {
    text-align: center;
}

.upper-banner {
    background-color: #3c4b64;
    color: white;
    padding: 10px;
    text-align: center;
}

.project-container:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Add shade on hover */
    /* You can adjust the opacity (last value) to change the darkness of the shade */
}

.toggle-menu {
    cursor: pointer;
}
.content {
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    background-color: #3c4b64;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.menu-options {
    display: none; /* Hide menu options by default */
}

.menu-options.expanded {
    display: block; /* Show menu options when 'expanded' class is present */
}

.project-container,
#project-details {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
}

ul li {
    display: inline;
}

ul li a {
    color: white; /* Set text color to white */
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Add padding for spacing */
}

ul li a:hover {
    background-color: #333; /* Change background color on hover */
}

ul li a:visited {
    color: white; /* Keep text color white for visited links */
}

/* Button style */
.button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

/* Button hover effect */
.button:hover {
    background-color: #45a049;
}
