body {
    font-family: "Montserrat", sans-serif;
    background-color: #ecedef;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

button {
    /* Inherit font size from parent (body) */
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

form {
    margin: 0px;
    display: inline;
}

.content {
    margin: 15px 45px;
}

/* ====== Footer Styles ====== */
footer {
    background-color: #3c4b64;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 15px;
}

/* ====== Navbar Styles ====== */
.upper-banner {
    background-color: #3c4b64;
    color: white;
    padding: 10px;
    text-align: center;
}

.toggle-menu {
    color: white;
}

.menu-options {
    display: none; /* Hide menu options by default */
}

.menu-options.expanded {
    display: block; /* Show menu options when 'expanded' class is present */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

ul li button {
    /* Remove default button styles */
    border: none;
    outline: none;
    background-color: transparent;

    /* Add styles to mimic anchor element */
    color: white;
    text-decoration: none;
    padding: 10px;
}

ul li a:hover,
ul li button:hover {
    background-color: #333;
}

/* ====== Main Content Styles ====== */
.main-content {
    text-align: center;
    padding: 15px;
    background-color: white;
}
.project-list,
.project-details,
.client-list,
.client-details,
.task-container,
.task-details {
    background-color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.project-list:hover,
.client-list:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.details-footer,
.details-content,
.details-header {
    flex: 1 1 auto; /* shorthand for flex-grow, flex-shrink, and flex-basis */
    padding: 10px;
    border: 1px solid #000;
    margin: 5px;
    text-align: center;
}

.buttons-container {
    margin-left: auto; /* Push buttons container to the right */
    align-items: center;
}

/* ====== Task Content Styles ====== */
.table {
    width: 100%;
    overflow-x: auto; /* Add horizontal scroll if content overflows */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    border-collapse: collapse;
}

.task {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

.task-table th,
.task-table td {
    border: 1px solid #ddd;
    padding: 10px;
    white-space: nowrap;
    border: none; /* Remove borders from table cells */
    text-align: left;
}

.task-table th {
    background-color: #f2f2f2;
    text-align: left;
    width: 40%;
}

.even-row {
    background-color: #fff;
}

.odd-row {
    background-color: #f9f9f9;
}

.pending-status {
    background-color: #ffcccc;
}

.completed-status {
    background-color: #ccffcc;
}

.progress-status {
    background-color: rgb(252, 252, 154);
}

/* Style for pagination links */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a,
.pagination span {
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

/* ====== Client Content Styles ====== */
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Make the image circular */
    object-fit: cover;
    display: block; /* Ensure the image is displayed as a block element */
    margin: auto;
}

/* ====== Alert Styles ====== */
.alert-success {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
}

.alert-error {
    background-color: #d14141;
    color: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
}

.alert-error ul {
    margin: 0px;
}

.form_danger {
    color: rgb(129, 7, 7);
    font-style: italic;
}

/* ====== Button Styles ====== */
.update-project,
.update-task,
.update-client,
.delete-task,
.delete-project,
.delete-client,
.form-container button,
.button,
.back-project,
.back-client,
#go-back-to-list,
.create-button,
.create-project,
.picture-button {
    color: #fff;
    border: 2px solid transparent;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    margin: 15px 5px 15px 5px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

/* Style for delete button */
.delete-task,
.delete-project,
.delete-client {
    background-color: #dc3545;
}

.delete-task:hover,
.delete-project:hover,
.delete-client:hover {
    background-color: #c82333;
}

/* Style for update button */
.update-client,
.update-project,
.update-task {
    background-color: #28a745;
}

.update-client:hover,
.update-task:hover,
.update-project:hover {
    background-color: #218838;
}

/* Style for navigation buttons */
.form-container button,
.button,
.back-project,
.back-client,
#go-back-to-list {
    background-color: #007bff;
}

.form-container button:hover,
.button:hover,
.back-project:hover,
.back-client:hover,
#go-back-to-list:hover {
    background-color: #0056b3;
}

/* Style for create buttons */
.create-button,
.create-project,
.picture-button {
    background-color: #c8209b;
    transition-duration: 0.4s;
}

.create-button:hover,
.create-project:hover,
.picture-button:hover {
    background-color: #9545a0;
}

.create-button:active,
.create-project:active,
.picture-button:active {
    background-color: #251b99;
}

/* ====== Form Styles ====== */
.form-container {
    background-color: #fff;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-container form {
    max-width: 400px; /* Limit form width */
}

.form-container label {
    display: block; /* Display labels as block elements */
    margin-bottom: 8px; /* Add space below labels */
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="textfield"],
.form-container input[type="email"],
.form-container input[type="address"],
.form-container input[type="password"],
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* ====== Modal Container Styles ====== */
.modal-container {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 9999; /* Ensure it's on top of other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

#success-container {
    background-color: lightgreen;
}

#error-container {
    background-color: rgb(238, 144, 144);
}

/* Styles for modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Center the modal vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Github Login Button */
.btn-socialite {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}
.btn-socialite img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.btn-socialite:hover {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
