body {
    font-family: Arial, sans-serif;
    background-color: #ecedef;
    margin: 0;
    padding: 0;
}

.container h1 {
    text-align: center;
}

.upper-banner {
    background-color: #3c4b64;
    color: white;
    padding: 10px;
    text-align: center;
}
.toggle-menu {
    cursor: pointer;
}
.content {
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    background-color: #3c4b64;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.menu-options {
    display: none; /* Hide menu options by default */
}

.menu-options.expanded {
    display: block; /* Show menu options when 'expanded' class is present */
}

.project-container,
#project-details {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
